.nav-bar {
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    background-color:#708067;
    box-shadow: 0px 1px 7px #000;
}

.a-li {
    float: left;
}

body {
    margin: 0px;
}

main {
    margin-left: 4px;
    margin-right: 4px;
}

.search-li {
    float: right;
    width: auto;
    margin-right: 10px;
}

.nav-bar a {
    display: block;
    color: #000;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', "Georgia", "Arial";
}

.nav-bar img {
    display: inline-block;
    color: #000;
    padding-top: 12px;
    margin-right: 12px;
    width: 70px;
    height: 16px;
    margin-right: 16px;
}

.search-input {
    padding: 6px;   
    margin-top: 6px;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 8px;

    box-shadow: 2px 2px 7px #333;
}


.search-input:hover {
    box-shadow: 3px 3px 10px #000;
}

.nav-bar a:hover {
    background-color: #555;
    color: white;
}

.navbar a:active {
    opacity: 85%;
}

.page-title {
    font-family: 'Times New Roman', "Georgia", "Arial";
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 12px 0;
    text-transform: uppercase;
}

.subscript {
    font-family: "Georgia", 'Times New Roman';
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.form {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 5px;

    box-shadow: 2px 2px 3px #000;
  }
  

  .form-group {
    margin-bottom: 15px;
}

.btn {
    background-color: #708067;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;

    box-shadow: 2px 2px 7px #000;
}
  
.btn:hover {
    background-color: #555;
}

.btn:active {
    opacity: 50%;
}

.input_descriptor {
    display: inline-block;
}

.input-block {
     /* NOT SURE WHY NEGATIVE MAKES IT LOOK GOOD BUT IT DOES */
    margin-bottom: -10px;
}

.input-block input, .input-block textarea {
    padding: 2px;
    width: 82%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.input-block p {
    width: 14%;
}

.edit-link {
    font-size: 10;
    font-family: 'Times New Roman', "Georgia", "Arial";
}

.descriptor {
    font-weight: bold;
    margin-right: 8px;
    font-family: 'Times New Roman', "Georgia", "Arial";
}

div.gallery3 {
    margin: 5px;
    border: 1px solid #777;
    float:left;
    width: 30%;
    background-color: #aace95;
    box-shadow: 2px 2px 7px #333;
}

div.gallery3:hover {
    box-shadow: 3px 3px 12px #000;
    opacity: 90%;
}

div.gallery2 {
    margin: 5px;
    border: 1px solid #777;
    float:left;
    width: 45%;
    background-color: #aace95;
    box-shadow: 2px 2px 7px #333;
}

div.gallery2:hover {
    box-shadow: 3px 3px 12px #000;
    opacity: 90%;
}

div.gallery:hover {
    border: 1px solid #000;
}

div.gallery3 img {
    width: 100%;
    height: auto;
}

div.gallery2 img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 24px;
}

div.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.image-container {
    float: left;
    margin: 6px;
}
.image-container {
    width: 33%;
}

.image-container img {
    width: 100%;
    height: auto;
}

.header-container, .details-container {
    float: left;
    margin: 8px;
    width: 30%;
}

.header-container h1 {
    text-align: center;
    text-transform: capitalize;
    margin-top: 0;
}

.header-container p {
    text-align: center;
}

.details-container {
    border: 1px solid;
    border-color: #777;
    height: 450px;

    box-shadow: 2px 2px 7px #333;
}

.details-container p {
    text-align: center;
}

.details-container h1 {
    text-align: center;
    margin-top: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.add-to-button {
    display: block;
    border: 2px solid;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: #9aaf8e; 
    color: black;
    text-decoration: none;
    overflow: hidden;
    width: 40%;

    box-shadow: 2px 2px 7px #333;
}

.add-to-button:hover {
    background-color: #555;
    color: white;
}

.add-to-button:active {
    opacity: 50%;
}

.items-condensed li {
    vertical-align: top;
  }

.similar-items {
    border: 1px solid black;
    height: auto;
    padding: 5px;
    margin: 5px;
    clear: both;
  }

  .items-condensed {
    width: 40%;
    height: 200px; /* Set a fixed height */
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    margin-left: 40px;
    overflow: hidden; /* Hide any content that may exceed the fixed height */

    box-shadow: 2px 2px 7px #333;
  }

  .items-condensed:hover {
    background-color: #ccc;
    box-shadow: 3px 3px 10px #000;

  }

  .items-condensed li {
    text-align: center;
    text-decoration: none;
    color: black;
    list-style-type: none;
  }

  .items-condensed img {
    width: 30%;
    height: auto;
    margin: 5px;
  }

.merchandise-items {
    border: 1px solid;
    width: 100%;
    margin: 5px;
    margin-right: 20px;
    display: flex;
    align-items: center;

    box-shadow: 2px 2px 7px #333;
    transition: box-shadow 0.05s;
}

.merchandise-items:hover {
    background-color: #e6e6e6;
    cursor: pointer;
    box-shadow: 3px 3px 12px #000;
}

.merchandise-items:active {
    opacity: 50%;
}

.merchandise-items img {
    width: 25%;
    height: auto;
    float: left;
    margin: 10px;
}

.merchandise-items ul {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
    flex-grow: 1;
    width: 75%;
}

.merchandise-items li {
    color: black;
    text-align: center;
    text-decoration: none;
}

.merchandise-items h2 {
    font-family: 'Times New Roman', "Georgia", "Arial";
    font-size: 32px;
    display: block;
    text-align: center;
    text-transform: capitalize;
    margin-top: 0;
}

.alert {
    padding: 1rem;
    border: 2px solid red;
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 5px;
  }

  .redeem-button {
    background-color: rgb(99, 122, 96);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
  }

  .order-items {
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }

  .order-broad {
    padding: 8px;
    box-shadow: 2px 2px 5px #000;
    margin-bottom: 12px;
    margin-right: 4px;
    margin-left: 2px;
  }

  .order-broad:hover {
    background-color: #ccc;
    box-shadow: 3px 3px 8px #000;
  }

  .order-tab {
    color: black;
  }

  .order {
    border: 1px solid black;
    margin-right: 4px;
    margin-left: 4px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .order-item-contents {
    display: inline-block;
    vertical-align: bottom;
  }

  .order-item img {
    height: 200px;
    margin-bottom: 4px;
  }

  .scary-btn {
    padding: 6px 10px;
    background-color: #ff0000;
    border: 1px solid #000;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    border-radius: 10px;

    box-shadow: 1px 1px 3px #000;
  }

  .scary-btn:hover {
    opacity: 80%;
    box-shadow: 2px 2px 5px #000;
  }