{% extends 'base.html' %}

{% block content %}
<h2 class="page-title">Create Product Listing</h2>

<form class="form" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% if user.is_approved == NONE %}
    <div class="alert">Warning: account has not been aproved by administration yet; cannot post</div>
  {% elif not user.is_approved %}
    <div class="alert">Warning: account was disapproved by administration; cannot post</div>
  {%endif%}


  <div class="input-block">
    <label for="title"></label>
    <p class="input_descriptor">Item Name</p>
    <input class="get_input" id="title" type="text" name="title" maxlength='255'required>
  </div>

  <div class="input-block">
    <label for="cost"></label>
    <p class="input_descriptor">Item Cost ($)</p>
    <input class="get_input" id="cost" type="number" name="cost" step='0.01' required>
  </div>

  <div class="input-block">
    <label for="description"></label>
    <div style="position: relative;"></div>
    <p class="input_descriptor">Item Description</p>
      <textarea class="get_input" id="description" name="description" rows="4" cols="50" maxlength="1024" required></textarea>
      <span style="position: absolute; bottom: 5px; right: 5px; font-size: 0.8em; color: gray;">Max 1024 characters</span>
    </div>
  </div>

  <div class="input-block">
    <label for="genre"></label>
    <p class="input_descriptor">Item Category</p>
    <select class="get_input" id="genre" name="genre" required>
      {% for choice in form.genre.field.choices %}
        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
      {% endfor %}
    </select>
  </div>  

  <div class="input-block">
    <label for="image"></label>
    <p class="input_descriptor">Item Picture</p>
    <input class="get_input" id="image" type="file" accept="image/*" name="image" required>
  </div>

  <div class="input-block">
    <label for="quantity_in_stock"></label>
    <p class="input_descriptor">Quantity Available</p>
    <input class="get_input" id="quantity_in_stock" type="number" name="quantity_in_stock" maxlength='255'required>
  </div>
  
  {% if user.is_approved == NONE or not user.is_approved %}
    <p>Unable to sumbit: see warning message</p>
  {%else%}
    <button type="submit" class="btn">Submit</button>
  {%endif%}
</form>
{% endblock %}