{% extends 'base.html' %}

{% load static %}

{% block content %}
<h2 class="page-title">Big Money</h2>
{% if user.is_authenticated %}
<h3 class="subscript">Welcome, {{user.username}}</h3>
  
<!-- Display the boxes for the seller to use-->
{% if show_seller_boxes %}
  <div class="container">
    <div class="gallery3"> 
      <a href="{% url 'create-listing' %}">
        <img src="{% static '/images/merchandise-icon.png'%}", alt="create product listing picture" width="400" height="400">
      </a>
      <div class="desc">Create Product Listing</div>
    </div>

    <div class="gallery3"> 
      <a href="{% url 'view-my-listings' %}">
        <img src="{% static '/images/items.png'%}", alt="view product listing picture" width="400" height="400">
      </a>
      <div class="desc">View My Product's Info</div>
    </div>

    <div class="gallery3"> 
      <a href="{% url 'view-my-sales' %}">
        <img src="{% static '/images/sales-pic.png'%}", alt="view sales picture" width="820" height="200">
      </a>
      <div class="desc">View Profits</div>
    </div>
  </div>
  {% endif %}

  {% if show_customer_boxes %}
  <div class="container">
    <div class="gallery3"> 
      <a href="{% url 'view-cart' %}">
        <img src="{% static '/images/Shopping-Cart.png'%}", alt="view cart picture" width="400" height="400">
      </a>
      <div class="desc">View Your Cart</div>
    </div>

    <div class="gallery3"> 
      <a href="{% url 'view-orders' %}">
        <img src="{% static '/images/orders.png'%}", alt="view orders picture" width="400" height="400">
      </a>
      <div class="desc">View Your Orders</div>
    </div>

    <div class="gallery3"> 
      <a href="{% url 'view-account' %}">
        <img src="{% static '/images/pfp.png'%}", alt="view account picture" width="820" height="200">
      </a>
      <div class="desc">View Account</div>
    </div>
  </div>
  {% endif %}

  {% else %}
  {% if show_unauthenticated_boxes %}
  <div class="container">
    <div class="gallery2"> 
      <a href="{% url 'login' %}">
        <img src="{% static '/images/sales-pic.png'%}", alt="view sales picture" width="400" height="400">
      </a>
      <div class="desc">Login</div>
    </div>

    <div class="gallery2"> 
      <a href="{% url 'register' %}">
        <img src="{% static '/images/sales-pic.png'%}", alt="view sales picture" width="400" height="400">
      </a>
      <div class="desc">Sign up</div>
    </div>
  </div>
  {% endif %}

{% endif %}
{%endblock%}