{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="container">
    <h1>Your Shopping Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.item.title }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">Your cart is empty.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="POST" action="{% url 'checkout' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary" id="checkout-btn">Checkout</button>
  </form>  
</div>
<div class="total-cost">
  <h3>Total cost: ${{ total_cost }}</h3>
</div>
{% endblock %}
