{% extends 'base.html' %}

{% block content %}
{% if item.is_approved == NONE %}
<div class="alert">Warning: product has not been aproved by administration yet; cannot buy</div>
{% elif not item.is_approved %}
<div class="alert">Warning: product was disapproved by administration; cannot buy</div>
{%endif%}
<div class="item">
    <div class="image-container">
        <img src="{{ item.image.url }}" alt="{{ item.name }} - image not loaded">
    </div>
    <div class="text-container">
        <div class="header-container">
            <h1>{{ item.title }}</h1>
            <p>{{ item.description }}</p>
        </div>
        <div class="details-container">
            <h1>Details</h1>
            <p>Sold by: {{item.poster.username}}</p>
            <p>Price: ${{ item.cost }}</p>
            <p>Ammount Available: {{item.quantity_in_stock}}</p>
            
            <div class='button-container'>
                {% if item.is_approved == NONE or not item.is_approved %}
                    <p>Unable to purchase: see warning message</p>
                {%else%}
                <a class="add-to-button", href=".">Add to cart</a>
                {%endif%}
            </div>
        </div>
    </div>
</div>
{% endblock %}