{% extends 'base.html' %}

{% block content %}
{% if item.is_approved == NONE %}
<div class="alert">Warning: product has not been aproved by administration yet; cannot buy</div>
{% elif not item.is_approved %}
<div class="alert">Warning: product was disapproved by administration; cannot buy</div>
{% elif messages %}
{%for message in messages%}
    <div class="alert">{{message}}</div>
    {%endfor%}
{%endif%}
<div class="item">
    <div class="image-container">
        <img src="{{ item.image.url }}" alt="{{ item.name }} - image not loaded">
    </div>
    <div class="text-container">
        <div class="header-container">
            <h1>{{ item.title }}</h1>
            <p>{{ item.description }}</p>
        </div>
        <div class="details-container">
            <h1>Details</h1>
            <p>Sold by: {{item.poster.username}}</p>
            <p>Price: ${{ item.cost }}</p>
            <p>Ammount Available: {{item.quantity_in_stock}}</p>
            <div class='button-container'>
                {% if item.is_approved == NONE or not item.is_approved %}
                    <p>Unable to purchase: see warning message</p>
                {%else%}
                <a class="add-to-button", href="{% url 'add_to_cart' item_id=item.id %}">Add to cart</a>
                {%endif%}
            </div>
        </div>
    </div>
</div>
<!--div for the related items-->
<div class="similar-items">
    <h2 class="subscript">Compare To Simliar Items In Category: {{item.genre}}</h2>
    {% if related_items %}
    <div class="item-block">
        <ul>
        {% for related_item in related_items %}
        <a href="{% url 'view-product' related_item.id %}">
            <div class="items-condensed">
                <li><img src="{{ related_item.image.url }}" alt="{{ related_item.name }} image"></li>
                <li>{{ related_item.title }}</li>
                <li>Sold by: {{ related_item.poster.username }}</li>
                <li>Price: ${{related_item.cost}}</li>
            </div>
        </a>
        {% endfor %}
        </ul>
    </div>
</div>
{%else%}
<p>No similar items</p>
{%endif%}
{% endblock %}