{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div>
    <h1 class="page-title">Your Shopping Cart</h1>
    {% for item in items %}
    <a href="{% url 'view-product' item_id=item.item.id %}" style="text-decoration: none">
        <div class="merchandise-items">
            <img src="{{ item.item.image.url }}" alt="{{ listing.name }} image">
            <ul>
                <li><h2>{{ item.item.title }}</h2></li>
                <li>Cost: ${{ item.item.cost }}</li>
                <li>Quantity: {{ item.quantity }}</li>
            </ul>
        </div>
    </a>
    {% endfor %}
    <div class="total-cost">
        <h3>Total cost: ${{ total_cost }}</h3>
      </div>
    <form method="POST" action="{% url 'checkout' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary" id="checkout-btn">Checkout</button>
  </form>  
</div>
{% endblock %}
