{% extends 'base.html' %}

{% block content %}
    <h1 class='page-title'>Account Details</h1>

    <div class=form>
        <p><strong class="descriptor">Username:</strong> {{ username }}</p>
        <p><strong class="descriptor">Name:</strong> {{ name }}</p>
        <p><strong class="descriptor">Email:</strong> {{ email }}</p>
        <p><strong class="descriptor">Balance:</strong> ${{balance}}</p>
        <p class="edit-link"><a href="{% url 'edit-account' %}">Edit Account details</a></p>
        <p><strong class="descriptor">Address:</strong> {{address|safe}}</p>
        <p class="edit-link"><a href="{% url 'change-address' %}">change address</a></p>
    </div>
{% endblock %}
